:root{
    --letter-color: #852e6b;
    --primary-color: #d170ac;
    --dark-mode: #6c3a5987;
    --ligth-mode: #e4cbdb;
}

*{
    margin: 0;
    text-decoration: none;
    padding: 0;
    box-sizing: border-box;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--ligth-mode);
    color: inherit;
    list-style: none;
    color: var(--letter-color);
    
}

html, body{
    height: 100%;
}

main {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 1s ease-in-out 0.5s, transform 1s ease-in-out 0.5s;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    opacity: 1;
    transform: scale(1);
}
/* no pude hacer que funcione mas de una vez, busque en varios lugares, no encontre una solucion real, o lo hacen con js, codigo q no dimos, key ns cuanto, a mi al principio si me funciona la animacion, ya despues no solo una vez */

.divflex {
    flex: 1;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    border-bottom: 0.6px solid var(--primary-color);
    background-color: var(--dark-mode);
}
.navlist{
    display: flex;
    flex-direction: row;
    padding: 4px;
    gap: 1rem;
    background-color: inherit;
}
.navlist a{
    display: flex;
    justify-content: center;
    padding: 1px 2px;
    border: inset 3px var(--dark-mode);
    border-radius: 7px;
    text-align: center;
    background-image: url(../img/corazonmelon.jpg);
    background-size: cover;
    background-position: center;
    font-weight: 500;
    color: #370027;
    cursor: pointer;
}

.navlist a:hover{
    transform: translateY(0.7px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cajaindex{
    box-shadow: 0 0 0.8px var(--dark-mode);
}

.contenidocajas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.contenidocajas h1 {
    grid-column: span 2;
    text-align: center;
    margin-bottom: 10px;
}

.contenidocajas p {
    grid-column: span 2;
    text-align: center;
    margin-bottom: 20px;
}

.caja {
    border-radius: 11px;
    overflow: hidden;
    margin: 20px auto;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.058);
    text-align: center;
}

.caja img {
    width: 100%;
    height: auto;
    display: block;
}

.caja p {
    padding: 20px;
    font-size: 1em;
    background-color: #f4f4f4;
    color: var(--letter-color);
}

footer, footer a{
    background-color: var(--dark-mode);
    color: var(--ligth-mode);
    padding: 10px;
    text-align: center;
    border-top: 1px solid var(--primary-color);
}

@media (min-width: 800px) {

    .navlist{
        font-size: 2rem;
    }

    .contenidocajas {
        grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño en pantallas grandes */
        gap: 30px; /* Espacio más grande entre las cajas */
    }
    .contenidocajas h1 {
        grid-column: span 3;
        text-align: center;
        margin-bottom: 10px;
        font-size: 2rem; /* Tamaño de fuente más grande para el título */

    }
    
    .contenidocajas p {
        grid-column: span 3;
        text-align: center;
        margin-bottom: 20px;
        font-size: 1.5rem;
    }
    
    footer, footer a, .informacionextra{
        font-size: 1.1rem;
    }
}


/* css para el footer */

.logo{
    text-align: center;
    font-size: 3rem;
}
.logo span{
    color: var(--primary-color);
    text-decoration: underline; 
}

.contact-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px var(--primary-color);
    border-radius: 8px;
    margin: 20px auto;
    max-width: 600px;
}

.contact-form{
    background: var(--primary-color);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 10px;
}

.contact-form form{
    background: inherit;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    padding: 4px;
    border-radius: 8px;
    border: none;
    box-shadow: 5px 5px 20px var(--dark-mode);
}


.button input[type="submit"] {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: var(--dark-mode);
    color: var(--ligth-mode);
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 0 5px var(--dark-mode);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button input[type="submit"]:hover {
    background-color: var(--letter-color);
    box-shadow: 0 0 10px var(--primary-color);
}